01/bcPattern.root
01/checkGen_C_ACLiC_dict_rdict.pcm
01/checkGen_C.d
01/checkGen_C.so
01/checkGen.C
01/collisioncontext.root
01/eff_test.root
01/eff.root
01/extgen.C
01/ft0digits.root
01/gphysi.dat
01/itsdigits.root
01/MCStepLoggerSenVol.dat
01/MCStepLoggerVolMap.dat
01/mergerlog
01/o2calib_tof.root
01/o2clus_its.root
01/o2digitizerworkflow_configuration.ini
01/O2geometry_27937.root
01/O2geometry.root
01/o2itsrecoflow_configuration.ini
01/o2match_itstpc.root
01/o2match_tof.root
01/o2reco_ft0.root
01/o2sim_27937_par.root
01/o2sim_27937.root
01/o2sim_configuration.ini
01/o2sim_grp.root
01/o2sim.root
01/o2simtopology_27934.json
01/o2tpcits-match-recoflow_configuration.ini
01/o2tpcrecoworkflow_configuration.ini
01/o2trac_its.root
01/run.sh
01/serverlog
01/tofclusters.root
01/tofdigits.root
01/tpc_polya.root
01/tpc-native-clusters.root
01/tpcdigits.root
01/tpctracks.root
01/workerlog0
antask.code-workspace
.vscode/c_cpp_properties.json
.vscode/settings.json
antask.code-workspace
